                {if $columndata}
                <ul>
                    {foreach from=$columndata->items key=key item=row}
                    <li class="itemlink{if $row->itemkey == $columndata->selected} selected{/if}{if $row->children > 0} children{/if}"><a onclick="return false;" href="index.php?filtertype={$filtertype}&column={$count}{if $row->path}&path={$row->path}{/if}&id={$row->id}&name={$row->name}&children={if $row->children > 0}1{else}0{/if}{if $core}&core={$core}{/if}" class="itemlink">{$row->name}</a></li>
                    {/foreach}
                </ul>
                {/if}

