.clearer {
    clear: both;
}

#conditions {
    background-color: #afc8d7;
    margin-top: 10px;
}

#conditions span.addicon {
    margin-top: 0;
    margin-right: 8px;
}

* html #conditions-outer {
    height: 146px;
}
* html #conditions #addbutton-container #addbutton {
    margin-top: -2.5em;
}
#conditions #addbutton {
    margin-top: -0.9em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

form#conditionsbrowser {
    overflow: auto;
}

#addcasenote table,
#editcasenote table,
#conditionsbrowser table {
    width: 100%;
}

#conditionsbrowser_conditionsbrowser_container th {
    display: none;
}

#conditionsbrowser table,
#conditions table {
    margin-bottom: 0;
}

#addcasenote table table,
#editcasenote table table,
#conditionsbrowser #conditions table {
    width: auto;
}

#conditions table {
    margin-top: 0;
}

#conditionstable tbody tr th,
#conditions table tbody tr td {
    padding: 0;
}

#conditionsbrowser fieldset.collapsible,
#editcasenote fieldset.collapsible,
#addcasenote fieldset.collapsible {
    border: none;
    padding: 0;
}

#filtertype {
    margin-bottom: 5px;
}

#conditions-header {
    padding: 8px 0 0 10px;
}

#conditions-header h3 {
    float: left;
    margin: 0;
}

#category-select {
    float: left;
    padding: 8px 0 8px 10px;
}

#category-select label {
    color: #000000;
}

#conditions #checkboxes {
    padding: 0 0 8px 10px;
}

#conditions #checkboxes label {
    color: #000000;
}

#conditions-outer {
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 156px;
}

#conditionsbrowser #conditions-outer td,
#conditions #conditions-outer td {
    padding: 1px 1px 1px 0;
}

#conditions-outer div.conditions-inner {
    border: 1px 0 1px 1px solid #C2C2C2;
    float: left;
    overflow: auto;
    width: 200px;
    height: 126px;
}

#conditions-outer div.conditions-inner ul {
    list-style-type: none;
}

#conditions-outer div.conditions-inner ul li {
    margin: 0;
    padding-left: 5px;
	* width: 89%;
}

#conditions-outer div.conditions-inner ul li:hover {
    background-color: #D5D5D5;
}

#conditions-outer div.conditions-inner ul li.selected {
    background: #ECF3D4 url(../images/selected-bg.jpg) repeat-x;
    border: 1px solid #92B328;
}

#conditions-outer div.conditions-inner ul li a {
    display: block;
    width: 100%;
}

#conditions-outer div.conditions-inner ul li.selected.children a {
    background: transparent url(../images/right-arrow.png) no-repeat center right !important;
}

#conditions-outer div.conditions-inner ul li.children a {
    background: transparent url(../images/right-arrow-transparent.png) no-repeat center right;
}

#conditions-outer div.conditions-inner ul li.selected a,
#conditions-outer div.conditions-inner ul li a:link {
    color: #000000;
}

#conditions-outer div.conditions-inner ul li a.notcore:link {
    color: gray;
}

.conditions-inner {
    background-color: #f4f7f9;
}

td.cbgrippie,
div.cbgrippie {
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px 0 1px 0;
    background: #eeeeee url(../images/grippie.png) no-repeat scroll bottom right;
    float: left;
    cursor: e-resize;
    width: 4px;
    height: 124px;
}

div#checkboxes label .includeshared {
    font-weight: normal;
    color: red;
}
#linked-conditions table {
    margin: 5px 0 15px;
}

.maincontent #linked-conditions table tbody td {
    vertical-align: middle;
}

.viewcasenote img {
    vertical-align: bottom;
}

.viewcasenote .sendmessage img {
    vertical-align: top;
}

.viewcasenote h2 {
    border-bottom: 1px #4c711d solid;
    margin-top: 10px;
    padding-bottom: 5px;
}

.viewcasenote .title .title-text {
    color: #4c711d;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.viewcasenote .author,
.viewcasenote .conditions-title,
.viewcasenote .shared-title {
    color: #4c711d;
    font-weight: bold;
    font-size: 17px;
}

.viewcasenote .indented {
    margin: 0 50px 10px;
}

.viewcasenote .shared .cicon {
    vertical-align: top;
}

.viewcasenote .conditions {
    padding-top: 5px;
}

.cicon {
    padding-right: 3px;
}

/* Index page */
/* SEARCH RESULTS TABLE */
table.tablerenderer th.asc { 
	background: transparent url(../images/down.gif) no-repeat right;
	padding-right: 1.5em;
}
table.tablerenderer th.desc { 
    background: transparent url(../images/up.gif) no-repeat right;
	padding-right: 1.5em;
}
.search-results-sort-column {
	cursor: pointer;
}

#casenotelist {
    margin-top: 0;
    width: 100%;
}
* html #casenotelist {
	position: relative;
}

#casenotelist col.type {
    width: 8%;
}

#casenotelist col.title {
    width: 25%;
}

#casenotelist col.conditions {
}

#casenotelist col.dateadded {
    width: 8%;
}

#casenotelist col.shared {
    width: 6%;
}

#casenotelist col.editdelete {
    text-align: center;
    width: 16%;
}

#casenotelist th.shared {
    text-align: center;
}

#casenotelist tbody {
}

#casenotelist td {
    vertical-align: top;
}

#casenotelist td.shared {
    text-align: center;
}

* html #casenotelist td.editdelete{
	width: 20%;
}

#casenotelist a img {
    vertical-align: bottom;
}

#casenotelist div.editdelete {
    padding-left: 6%;
}

#casenotelist div.editdelete div.edit {
    padding-right: 1px;
}

#casenotelist div.editdelete div a {
	margin-left: 1px;
	margin-right: 1px;
}

#casenotelist div.editdelete div.delete {
    padding-right: 0;
    border: none;
    background: none;
}

#viewpreviewinner {
    padding: 0 5px 15px;
}

#addbutton a.btn,
#mycasenotes a.btn {
	border: 1px solid #D1D1D1;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	background: #eee;
	line-height: 2em;
	font-weight: bold;
}
#addbutton a.btn,
#mycasenotes a.btn {
	border-color: #d5ed8a #496000 #496000 #d5ed8a;
    background-color: #92b328;
	border-style: solid;
	border-width: 1px;
    color: #FFF;
	cursor: pointer;
}
#addbutton a.btn,
#mycasenotes a.btn:hover {
	text-decoration: none;
}
